<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.118759781313-n0vlmlv81g0v9cusfhntc5k4i8l0kvhv</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>118759781313-n0vlmlv81g0v9cusfhntc5k4i8l0kvhv.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Spot Light.ttf</string>
	</array>
</dict>
</plist>
